@import "../theme/variables.css";

.center {
  margin: auto;
}

/* #open-modal {

} */

.filter-title {
  font-weight: 600;
}

#filter-equipment ion-icon[slot="start"] {
  margin-inline-start: -15px;
  margin-inline-end: 5px;
}

#filter-equipment ion-icon[slot="end"] {
  margin-inline-start: 0px;
  margin-inline-end: -15px;
}

.horizontal-scroll-container {
  /* width: 300px; */
  /* padding: 0px 30px 0px 30px; */
  height: 140px;
  overflow: hidden;
  /* border: 2px solid red; */
}

.horizontal-scroll-container .horizontal-scroll-content {
  height: 160px; /* 40px - more place for scrollbar, is hidden under parent box */
  padding: 5px;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  display: flex;
  /* border: 2px solid green; */
}

.horizontal-scroll-container .horizontal-scroll-content .image-with-caption {
  padding-right: 10px;
}

.horizontal-scroll-container .horizontal-scroll-content ion-img {
  height: 110px; /* 40px - more place for scrollbar, is hidden under parent box */
  padding: 0px;
  border-radius: 5px;
}

.horizontal-scroll-container
  .horizontal-scroll-content
  ion-img[selected="true"] {
  height: 110px; /* 40px - more place for scrollbar, is hidden under parent box */
  padding: 5px;
  border-radius: 5px;
  background-color: var(--ion-color-primary);
}

.horizontal-scroll-container .horizontal-scroll-content p {
  width: 110px; /* 40px - more place for scrollbar, is hidden under parent box */
  text-align: center;
  /* border: 2px solid red; */
}

#filter-reset-button {
  width: fit-content;
  margin: auto;
  padding: 10px;
}

#toolbar {
  --background: transparent;
  --color: var(--ion-color-medium-shade);

  --border-color: transparent;
  font-weight: bold;
  /* --min-height: 80px;
  --padding-top: 20px;
  --padding-bottom: 20px; */
}