@import "../theme/variables.css";

.center {
  margin: auto;
}

#list-thumbnail{
  --size: 70px;
  /* --border-radius: 14px; */
  /* transform: scale(1.2); */
  margin: 10px;
  overflow: hidden;
}

#list-thumbnail img{
  transform: scale(1.3);
}

#list-label {
  margin-left: 10px;
  /* font-size: inherit; */
}